.plan-container {
  margin-top: 2rem;
  background-color: #f8f0ca;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.map-container {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  height: 100%;
}

.form-container {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  height: 100%;
}

.form-control {
  background-color: #f8f0ca;
  border: 1px solid #8c8c8c;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: #141451;
}

.form-control::placeholder {
  color: #8c8c8c;
}

.btn-primary {
  background-color: #196f5d;
  color: #f8f0ca;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #0e3c2c;
}

.alert-danger {
  background-color: #f8f0ca;
  color: #141451;
  border: 1px solid #94746c;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.kml-editor {
  background-color: #f8f0ca;
  border: 1px solid #8c8c8c;
  border-radius: 0.25rem;
  padding: 1rem;
  height: 100%;
}
