.bentoBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.bentoSection {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
}

.bentoTile {
  background-color: #f8f0ca;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.userInfoTile {
  min-height: 400px;
}

.primaryButton {
  background-color: #196f5d;
  border-color: #196f5d;
  color: #fff;
}

.secondaryButton {
  background-color: #141451;
  border-color: #141451;
  color: #fff;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.profileImage {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.statsContainer {
  background-color: #748268;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
}

.statsRow {
  display: flex;
  justify-content: space-around;
  color: #f8f0ca;
}

.statsTile {
  text-align: center;
}

.userInfoLabel {
  font-weight: bold;
  margin-bottom: 5px;
}

.userInfoValue {
  margin-bottom: 20px;
}

.textAreaField {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  padding: 10px;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  background-color: #f8f0ca;
}

.textAreaField:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
