@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./LandingPage/index.css";
@import "./Planning/index.css";
@import "../components/Card.css";
@import "../components/Footer.css";
@import "../components/Navbar.css";
@import "../components/SearchBar.css";

:root {
  --foreground-rgb: #196f5d;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.heart-icon {
  cursor: pointer;
}

.heart-icon:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 5;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.leaflet-container {
  height: 100vh;
}
