.navbar {
  background-color: #196f5d;
}

.navbar-brand {
  color: #f8f0ca;
  font-family: "Poppins", sans-serif;
}

.navbar-toggler {
  border-color: #f8f0ca;
}

.navbar-toggler-icon {
  background-color: #f8f0ca;
}

.navbar-nav {
  font-family: "Poppins", sans-serif;
}

.nav-link {
  color: #f8f0ca !important;
}

.exploreBtn {
  font-family: "Poppins", sans-serif;
  color: #196f5d;
  border-color: #196f5d;
}

.exploreBtn:hover {
  background-color: #196f5d;
  color: #f8f0ca;
}
