.searchBarContainer {
  margin-top: 30px;
}

.searchBar {
  background-color: #f8f0ca;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.searchForm {
  display: flex;
  flex-direction: column;
}

.searchInput {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  margin-right: 10px;
}

.searchBtn {
  border-radius: 20px;
}

.filters {
  margin-top: 20px;
}

.dropdowns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.select {
  flex: 1;
}

.priceRange {
  margin-top: 10px;
}

.priceInput {
  flex: 1;
}

.input-group-color .input-group-text {
  background-color: #f8f0ca;
  border: none;
}
