.heroSection {
  background-color: #f8f0ca;
  padding: 10%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.heroContent {
  color: #141451;
}

.heroTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.heroSubtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.heroImage img {
  border-radius: 10px;
}

.featuresSection {
  color: #141451;
  padding: 100px 10%;
}

.featureIcon {
  color: #141451;
}

.testimonialsSection {
  background-color: transparent;
  color: #141451;
  padding: 100px 10%;
}

.testimonial {
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.testimonial:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.author {
  font-style: italic;
}

.ctaSection {
  background-color: transparent;
  color: #f8f0ca;
  padding: 100px 10%;
}

.ctaButton {
  background-color: #141451;
}
