/* LandingPage.module.css */

.heroSection {
  background-color: #f8f0ca; /* Light color */
  padding: 100px 10%;
}

.heroContent {
  color: #141451; /* Dark color */
}

.heroTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.heroSubtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.heroImage img {
  border-radius: 10px;
}

.featuresSection {
  background-color: #141451; /* Dark color */
  color: #f8f0ca; /* Light color */
  padding: 100px 10%;
}

.featureIcon {
  color: #748268; /* Subdued color */
}

.testimonialsSection {
  background-color: #8c8c8c; /* Gray color */
  color: #f8f0ca; /* Light color */
  padding: 100px 10%;
}

.testimonial {
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
  transition: box-shadow 0.3s ease; /* Add transition */
}

.testimonial:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Change box shadow on hover */
}

.author {
  font-style: italic;
}

.ctaSection {
  background-color: #196f5d; /* Primary color */
  color: #f8f0ca; /* Light color */
  padding: 100px 10%;
}

.ctaButton {
  background-color: #141451; /* Dark color */
}
