/* index.css */

/* Global Styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}
.margin-landing {
  margin-top: 20%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.full-screen-section {
  height: 60vh; /* Set the height to 100% of the viewport height */
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
  /* Optionally, you can also set other styles like background color or background image */
}

/* Landing Page Styles */
.landing-container {
  padding: 50px 0;
}

.text-container {
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.features-section {
  padding: 50px 0;
}

.feature {
  text-align: center;
  margin-bottom: 30px;
}

.feature i {
  color: #007bff;
}

.testimonials-section {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.testimonial {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.author {
  font-style: italic;
  color: #6c757d;
}

.cta-section {
  background-color: #007bff;
  color: #ffffff;
  padding: 100px 0;
}

.cta-section h2,
.cta-section p {
  text-align: center;
}

.cta-section button.btn-primary {
  background-color: #ffffff;
  color: #007bff;
  border: 2px solid #ffffff;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.cta-section button.btn-primary:hover {
  background-color: #007bff;
  color: #ffffff;
}

/* Media Queries */
@media (max-width: 768px) {
  .landing-container {
    flex-direction: column;
  }

  .image-container,
  .text-container {
    width: 100%;
    text-align: center;
  }
}
